<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Demo CKeditor by Jimmy Van</title>
	<script src="editor/ckeditor.js" language="javascript"></script>
</head>

<body>
<div style="float:left;width:962px;padding:20px;">
	<form action="demo.html" method="post">
	
		<tr>
			<td>Tiêu Đề : </td><td><input type="text" name="txttieude" id="txttieude" size="40"/></td>
		</tr>
		<br />
		<tr>
			<td>Nội Dung : </td>
			<td><textarea name="txtnoidung" id="txtnoidung" rows="10" cols="40"></textarea></td>
		</tr>
			<script type="text/javascript" language="javascript">

				CKEDITOR.replace( 'txtnoidung' );

			</script>  
		<tr>
			<td>&nbsp;</td><td><input type="submit"  name="btnok" id="btnok" value="Gửi Ngay"/></td>
		</tr>
		
	</form>
</div>

</body>
</html>
