
*{margin:0;padding:0; }

.list-posts .post-contact {
    background: rgba(147, 145, 142, 0.31);
    margin: 10px;
    font-style: italic;
    padding: 5px;
}

.list-posts .date-and-category {
    background: rgba(76, 175, 80, 0.38);
}

.list-posts .post {
    background: rgba(255, 228, 196, 0.31);
    border: 1px solid rgba(156, 39, 176, 0.42);
    margin-bottom: 10px;
}

.date-time p {
    float: left;
    padding: 0 5px;
}

.list-posts .col-xs-6.col-sm-6.col-md-6.col-lg-6.float-right a, .list-posts .col-xs-4.col-sm-4.col-md-4.col-lg-4.float-right p {
    float: right;
    padding: 5px;
}

.list-posts h3 {
    color: #3f3f95;
    background: rgba(255, 0, 0, 0.51);
    padding: 10px 5px;
    margin: 0 0 5px;
    border: 1px solid rgba(32, 178, 170, 0.51);
}

.list-posts .row {
    padding: 5px;
    background: rgba(250, 250, 210, 0.07);
    overflow: hidden;
}

.Editor-editor {
    height: 440px;
}

.authorPost .row legend {
    text-align: center;
    font-size: 30px;
    color: #337ab7;
}

.col-lg-12.nopadding {
    padding: 15px 0;
    height: 700px;
}

.table.table-striped tbody tr:hover {
    cursor: pointer;
    background: antiquewhite;
}

.table.table-striped tbody tr {
    transition: 0.6s;
}

.mq_row{
        margin-bottom: 20px;

}

.mq-dropdown-menu{
    left: inherit;
    
    transform: translateX(-38%) translateY(-10%);
}
hr{
    margin: 0;
    padding: 0;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 15px;
    margin-left: 10px;
}
.mq_refesh{
    margin-left: 350px;
}
.mq_float_right{
    float: right!important;
    margin-right: 10px;
}
*{margin:0;padding:0; }

.loadpage.text-center {
    overflow: hidden;
}

.post-title {
    font-size: 7px;
}

form input.error {
    background: rgba(0, 0, 0, 0.69);
    color: rgba(229, 230, 229, 0.68);
}

ul#myError li {
    list-style-type: none;
    color: #337ab7;
}

form img#img {
    width: 50%;
}

body {}

button.fa.fa-pencil {
    color: #337ab7;
    padding: 2px 5px;
}

button.modal-footer.btn.btn-danger {
    padding: 6px 14px;
    float: right;
}

.list-account .account .row {
    padding: 11px;
    border-bottom: 1px solid black;
}

.profile .row .row {
    border: 1px solid rgba(255, 0, 0, 0.13);
    box-shadow: 0 0 5px lightgray;
    padding-bottom: 10px;
}

.register {
    height: 400px;
}

.profile.tbody tr {}
.mq_h4{
    font-weight: bolder;
    background-color: #337ab7;
    border-color: #337ab7;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0;
    padding: 0;
    text-align: -webkit-center;
    font-size: 30px;

}
.mq_leftrow_inf{
    width: 35%;
    color: black;
    font-weight: bolder;
}
.gender_select{
    display: inline-block;
}
.mq_rightform_label{
    width: 58%;
}
.article-list .thumbnail {
    overflow: hidden;
    margin: 0;
    padding: 0;
}


.team-member .detail-of-member .member-details {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.team-member .detail-of-member .member-details h2 {
    border-top: 3px solid  rgba(255, 0, 0, 0);
    font-size: 20px;
    position: absolute;
    width: 100%;
    margin: 10px 0;
    bottom: 0;
    color: white;
    transition: 0.8s;
}

.team-member .detail-of-member:hover .member-details h2 {
    border-top: 3px solid #3f3f95;
}

.detail-of-member .details p {
    padding: 30% 0;
}

.detail-of-member .details {
    position: absolute;
    height: 100%;
    background: rgba(127, 255, 212, 0.29);
    color: red;
    z-index: 1;
    transition: 0.4s;
    opacity: 0;
    cursor: pointer;
}

.detail-of-member:hover  .details {
    opacity: 1;
}

.team-member .detail-of-member {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin: 10px;
    border-radius: 5px;
}

.team-member .detail-of-member:hover .profile-pic img {border-radius: 50%;}

.team-member .detail-of-member .profile-pic img {
    transition: 0.4s;
}

.hash-tag .rating {
    position: relative;
    width: 30%;
    padding: 0;
    margin: 0!important;
    display: inline-block;
}

.hash-tag .rating:hover form {
    opacity: 1;
    transform: translateY(0);
}

form .stars {
  background: url("../images/stars.png") repeat-x 0 0;
  width: 150px;
  margin: 0 auto;
}

form .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
form .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
form .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
form .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
form .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
form .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
form .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
form .stars label:hover ~ span {
  background-position: 0 -30px;
}
form .stars label.star-5:hover ~ span {
  width: 100% !important;
}
form .stars label.star-4:hover ~ span {
  width: 80% !important;
}
form .stars label.star-3:hover ~ span {
  width: 60% !important;
}
form .stars label.star-2:hover ~ span {
  width: 40% !important;
}
form .stars label.star-1:hover ~ span {
  width: 20% !important;
}
form .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("../images/stars.png") repeat-x 0 -60px;
  transition: width 0.5s;
}





.signin form .row.text-center {
    padding: 5px;
}

.topview .image a.title {
    position: absolute;
    bottom: 0;
    font-size: 20px;
    color: #3f3f95;
}

.topview .image {
    position: relative;
}

ul.dropdown-menu.level-two {
    left: -100%;
    max-width: 170px;
    top: 0;
    z-index: 1200;
}

.login ul.dropdown-menu {
    margin: 0px;
    padding: 0;
    min-width: 50px;
}

.article-list .thumbnail {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

img.img-responsive.article-thumbnail {
    transform: scale(1.2);
    transition: 0.6s;
}

img.img-responsive.article-thumbnail:hover {
    transform: scale(1);
    cursor: pointer;
}

article.article-item {overflow: hidden;}

.recommendation .container .row strong a {
    text-decoration: none;
}

.recommendation .container .row {
    margin: 10px 0;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    background: rgba(211, 211, 211, 0.17);
}

.recommendation.container .row {}

.about-us ul.list-group li::after, .contact-us ul.list-group li::after, .advertising ul.list-group li::after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #3d3f93;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(30deg);
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.3s;
}

.about-us ul.list-group li, .contact-us ul.list-group li, .advertising  ul.list-group li {
    cursor: pointer;
    margin: 0;
    overflow: hidden;
    padding: 10px;
    position: relative;
    z-index: 1;
    transition: 0.4s;
}

.about-us ul.list-group li:hover:after, .contact-us ul.list-group li:hover:after,.advertising ul.list-group li:hover:after {
    height: 240%;
    opacity: 1;
}

.about-us ul.list-group li:hover, .contact-us ul.list-group li:hover, .advertising ul.list-group li:hover {
    color: red;
}

a.left.carousel-control,a.right.carousel-control {
    height: 50%;
    top: 25%;
}

.or.text-center {
    position: relative;
}

.signin-register .or h1 {
    position: absolute;
    background: #337ab7;
    border-radius: 50%;
    padding: 65px;
    color: #ffd5af;
    transition: 0.4s;
}

.signin-register .or h1:hover {
    color: #b69b82;
    background: #276091;
    cursor: pointer;
}

.register .col-xs-12.col-sm-12.col-md-5.col-lg-5 {
    padding: 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.19);
    border-left: 1px solid rgba(0, 0, 0, 0.19);
}

.signin-register legend {
    text-align: center;
}

.hash-tag form {
    position: absolute;
    z-index: 2;
    top: -100%;
    border-radius: 50%;
    padding: 7px;
    opacity: 0;
    background: #fcfbfb;
    border: 1px solid rgba(0, 0, 0, 0.19);
    transition: 0.4s;
    transform: translateY(-50px);
}

.signin .col-xs-12.col-sm-12.col-md-5.col-lg-5 {
    padding: 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.19);
    border-left: 1px solid rgba(0, 0, 0, 0.19);
}



.signin-register {
    border: 1px solid rgba(0, 0, 0, 0.19);
    margin: 10px;
}

ul.nav.navbar-nav.navbar-right.login {
    display: none;
}

@media (max-width: 1200px) and (min-width: 300px){
    *{
        margin: 0;
        padding: 0;
    }

p {
    font-size: 7px;
}

strong {
    font-size: 7px;
}

p.list-group-item.active {
    font-size: 7px;
}

.team-member .details p {
    font-size: 9px;
}

.contact .col-xs-2.col-sm-2.col-md-2.col-lg-2 h2 {
    font-size: 16px;
    text-align: center;
}

.contact .col-xs-2.col-sm-2.col-md-2.col-lg-2 ul li {
    font-size: 10px;
}

.content-wrap .news .title a {
}

a {font-size: 8px;}

.topview .list-group h3 {
    font-size: 11px;
}

.slideshow {
    display: none;
}

h1 {}

.or {
    display: none;
}

    ul.login {
        display: none;
    }

    ul.nav.navbar-nav.navbar-right.login {
        display: block;
    }
    .hash-tag .right a{
        float: right!important;
    }
}

.comment-list {
    background: #fbfbfb;
    border-color: #d1d5d3;
    box-shadow: 0 1px 16px 0 rgba(63,63,63,0.4);
}

.comments .row.comments .col-xs-2.col-sm-2.col-md-2.col-lg-2 {
    padding: 5px;
}

.reply-comment-list li.reply-commet {
    list-style-type: none;
    padding: 10px 0;
    margin: -5px 0;
}



.comments-list .comments .row.comments {
    border-bottom: 1px solid rgba(139, 14, 14, 0.45);
    margin: 10px 0;
}

.comments-list .comments .row.comments:last-child {
}

li.reply-comment {
    list-style-type: none;
    padding-bottom: 10px;
}

.comments-list .comments p {
    font-size: 13px;
}

.comments-list .comments .col-xs-3.col-sm-3.col-md-3.col-lg-3 {
    border-right: 1px solid black;
}

ul.reply-comment-list {
    padding: 10px;
    height: 60px;
}

.comments-list .comments img.img-responsive {
    max-height: 50px;
    border-radius: 50%;
}

.comments-list li.comments {
    height: 100px;
    list-style-type: none;
}

.row.comments .col-xs-10.col-sm-10.col-md-10.col-lg-10 {
    padding: 3px 0;
}

ul.comments-list {
    padding: 10px 25px;
}

footer .contact-us {
    padding: 10px 10px;
}

footer {
    border-top: 1px solid rgba(144, 138, 186, 0.65);
    margin: 10px 0 0 0;
    background: rgb(51, 122, 183);
    color: white;
}

.hash-tag a, i {
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(63, 63, 149);
    transition: 0.4s;
}

.hash-tag a:hover, .hash-tag i:hover, hash-tag i:focus {
    color: darkgreen;
    transform: scale(1.2);
}

.hash-tag i.change {
    color: rgba(182, 47, 47, 0.84);
}

.hash-tag i#like .change {
    color: rgba(182, 47, 47, 0.84);
}

.right {
    float: right!important;
}

.the-article .content-article {border: 1px solid rgba(0, 0, 0, 0.19);padding: 10px 10px;background: rgba(232, 230, 230, 0.16);}

.the-article .img-article {
    position: relative;
}

.slideshow {
    margin-bottom: 10px;
}

.back-to-top h4 {
    font-size: 12px;
}

.back-to-top {position: fixed;right: 15px;bottom: 15px;cursor: pointer;background: rgba(250, 235, 215, 0.49);border-radius: 5px;padding: 4px 5px;opacity: 1;transition: 0.8s;}

.back-to-top:hover {
    color: #bc5563;
    background: #7b9f9f;
}

.back-to-top.hide {
    opacity: 0;
}

.the-article .title h4 {
    position: absolute;
    z-index: 2;
    color: white;
    padding: 10px;
}

.the-article .title p {
    position: absolute;
    z-index: 2;
    color: white;
    padding: 65px 10px;
}

.info-carosel {
    position: absolute;
    z-index: 3;
    bottom: 30px;
    left: 10px;
}

.content-wrap .news-content {
    padding: 25px 6px;
}

.content-wrap .news {
    padding: 10px 10px;
    border-bottom: 1px solid rgba(209, 201, 190, 0.69);
}

.content-wrap .image {
    padding: 6px;
    max-height: 300px;
    min-height: 150px;
}

.content-wrap {margin-top: 0;border-radius: 1px;box-shadow: 0 1px 10px 0 rgba(0,0,0,0.125),inset 0 0 0 1px rgba(255,255,255,0.75);}

.videos video {
    width: 100%;
}

.header_top p {
    color: rgb(63, 63, 149);
}

.item.active {
    max-height: 265px;
    min-height: 300px;
}

.content-wrap img {min-height: 120px;min-width: 200px;width: 100%;max-height: 300px;}

.content-wrap img.img-responsive {
    max-height: 110px;
}

.loadpage img.img-responsive {
    width: 32px;
    min-width: 32px;
    max-height: 32px;
    min-height: 5px;
    margin: auto;
    transform: rotate(2000deg);
    display: none;
}

.loadpage img.img-responsive.load {
    display: block;
    transform: rotate(0deg);
    animation: imgrotate 5s;
}

@keyframes imgrotate{
    0%{transform: rotate(0);}
    100%{transform: rotate(1000deg)}
 }


.carousel-inner {
    max-height: 280px;
    min-height: 280px;
}

.header_top .login ul>li a:hover {
    color: burlywood;
    background: none;
    border-top: 3px solid red;
}

.topview .list-group h3 {
    cursor: pointer;
    margin: 0;
    overflow: hidden;
    padding: 10px;
    position: relative;
    z-index: 1;
    transition: 0.4s;
}

.topview .list-group h3:hover {
    color: #ff0000;
}

.topview .list-group {
    border-bottom: 2px solid hsla(0, 28%, 58%, 0.46);
    transition: 0.8s;
}

.topview .list-group:hover {
    background: rgba(190, 175, 175, 0.81);
}

.topview .list-group h3::after {width: 100%;height: 0;top: 50%;left: 50%;background: #3d3f93;opacity: 0;transform: translateX(-50%) translateY(-50%) rotate(30deg);content: '';position: absolute;z-index: -1;transition: all 0.3s;}

.topview .list-group h3:hover:after {
    height: 390%;
    opacity: 1;
}

.header_top li a {
    margin: 0px 5px;
    padding: 10px 10px;
    transition: 0.8s;
    text-decoration: none;
    border-top: 3px solid rgba(255, 0, 0, 0);
}

.dropdown-menu  li {
    border-right: none!important;
    width: 100%;
    margin: 3px 0px!important;
}

.header_mid li a {
    transition: 0.8s;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: burlywood;
    background: cadetblue;
    border-radius: 5px;
}


.info-carosel a {
    color: white;
    font-size: 22px;
}

.content-wrap .news .title a {
    font-size: 20px;
}

.header_mid {
    padding-top: 15px;
}

.header_top .container-fluid {
    padding-top: 10px;
}

.header_top li {
    border-right: 1px solid rgba(0, 0, 0, 0.21);
    margin: 5px;
    padding: 2px;
    float: left;
    list-style-type: none;
}

.header_top li:last-child {
    border-right: none;
}

.header_top .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: brown;
}

.header_top nav.navbar.navbar-default {
    background: none;
    border: none;
    padding-top: 15px;
    margin: 0;
}

.header_top img.img-responsive {
    height: 130px;
}

.header_top h1 {
    padding: 8px;
    border-bottom: 2px solid red;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}
 
.danhgia{
    color:brown;
}

